{% load static %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">AskSmth</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>



    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="d-flex justify-content-between w-100">
            <div class="ml-5">
                <form class="form-inline mt-2">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            <div class="w-auto d-flex flex-row">
                <div>
                    <img class="avatar-img" src="{% static 'img/avatar.jpg' %}" alt="">
                </div>
                <div class="">
                    <table class="user-block">
                        <tr>
                            <th>
                                Nickname
                            </th>
                        </tr>
                        <tr>
                            <td>settings</td>
                            <td>log out</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</nav>
