{% load static %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">AskSmth</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="d-flex justify-content-between w-100">
            <div class="ml-5">
                <form class="form-inline mt-2">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            <ul class="navbar-nav ml-auto">
            <div class="nav-item mr-4 mt-2 ml-auto">
                <a href="{% url 'ask' %}" class="btn btn-outline-success my-2 my-sm-0">Ask!</a>
            </div>
            <div class="w-auto d-flex flex-row">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <img class="avatar-img"  src="{% if user.profile.avatar %}
                    {{ user.profile.avatar.url }}
                    {% else %}
                    {% static 'img/avatar.jpg' %}
                    {% endif %}" alt="{{ user.profile.nickname }}">
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        {{ user.profile.nickname }}
                    </a>
                    <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'settings' %}">Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="btn btn-info" href="{% url 'login' %}">Login</a>
                </li>
            {% endif %}
            </div>
            </ul>
        </div>
    </div>
</nav>
