<div class="col-md-3 sidebar">
  <div class="popular-tegs">
    <h3>Popular Tegs</h3>
    <hr>
    <ul>
      <li><a href="#" class="sidebar-link">Tag 1</a></li>
      <li><a href="#" class="sidebar-link">Tag 2</a></li>
      <li><a href="#" class="sidebar-link">Tag 3</a></li>
    </ul>
  </div>
  <div class="members">
    <h3>Best Members</h3>
    <hr>
    <ul>
      <li><a href="#" class="sidebar-link">Member 1</a></li>
      <li><a href="#" class="sidebar-link">Member 2</a></li>
      <li><a href="#" class="sidebar-link">Member 3</a></li>
    </ul>
  </div>
</div>
