<div class="col-md-3 sidebar">
    <div class="popular-tegs">
        <h3>Popular Tags</h3>
        <hr>
        <ul>
            {% for tag in all_tags %}
            <li><a href="{% url 'tag' tag.tag %}" class="sidebar-link">{{ tag.tag }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="members">
        <h3>Best Members</h3>
        <hr>
        <ul>
            {% for person in best_members %}
            <li><a href="#" class="sidebar-link">{{ person.nickname }}| Score: {{ person.score }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
