.sidebar {
  position: sticky;
  margin: 1em 0 2em 0;
  height: auto;
  width: 100%;
  top: 10px;
  max-height: 80%;
}

.popular-tegs > ul {
  list-style: none;
}

.members > ul {
  list-style: none;
}
