{% extends 'include/base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/ask.css' %}">
<link rel="stylesheet" href="{% static 'css/firstPage.css' %}">
{% endblock additional_css %}

{% block content %}
<div class="question">
    <h1 class="text-center">New Question</h1>
    <form action="{% url 'ask' %}" method="POST" class="form" novalidate>
        {% csrf_token %}

        {% bootstrap_form form %}

        {% buttons %}
        <button type="submit" class="btn btn-primary btn-ask">Ask!</button>
        {% endbuttons %}

    </form>
</div>

{% endblock content %}
